<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" 
	  class="no-js"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="backoffice/layout">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>HRD COURSE MANAGEMENT SYSTEM</title>
	<style>
		td:first-child,
		th:first-child,
		th:nth-child(3),
		td:nth-child(3),
		th:nth-child(4),
		td:nth-child(4),
		th:nth-child(5),
		td:nth-child(5),
		th:nth-child(6),
		td:nth-child(6),
		th:nth-child(7),
		td:nth-child(7),
		th:nth-child(8),
		td:nth-child(8),
		th:nth-child(9),
		td:nth-child(9),
		th:nth-child(10),
		td:nth-child(10),
		th:nth-child(11),
		td:nth-child(11),
		#TABLE_PAYMENT_HISTORY th:nth-child(2),
		#TABLE_PAYMENT_HISTORY td:nth-child(2),
		th:last-child,
		td:last-child { text-align: center }
	</style>
</head>
<body>
	<div layout:fragment="backoffice/content">
		<div class="nav-bar-container">
	
			<!-- BEGIN ICONS -->
			<div class="nav-menu">
				<div class="hamburger">
					<span class="patty"></span>
					<span class="patty"></span>
					<span class="patty"></span>
					<span class="patty"></span>
					<span class="patty"></span>
					<span class="patty"></span>
				</div><!--.hamburger-->
			</div><!--.nav-menu-->
	
			<div class="nav-bar-border"></div><!--.nav-bar-border-->
	
			<!-- BEGIN OVERLAY HELPERS -->
			<div class="overlay">
				<div class="starting-point">
					<span></span>
				</div><!--.starting-point-->
				<div class="logo">HRD COURSE</div><!--.logo-->
			</div><!--.overlay-->
	
			<div class="overlay-secondary"></div><!--.overlay-secondary-->
			<!-- END OF OVERLAY HELPERS -->
	
		</div><!--.nav-bar-container-->
	
		<div class="content">
	
			<div class="page-header full-content">
				<div class="row">
					<div class="col-sm-6">
						<h1>STUDENTS</h1>
					</div><!--.col-->
					<div class="col-sm-6">
						<ol class="breadcrumb">
							<li>
								<a href="#" class="active"><i class="glyphicon glyphicon-user"></i> 
									WELCOME TO: <span th:if="${#httpServletRequest.remoteUser != null}">
	                  								<strong><span class="hidden-xs" th:text="${#httpServletRequest.remoteUser}"></span></strong>
												</span>
								</a>
							</li>
							<li><span class="btn btn-danger"><a th:href="@{/administrator/logout}">Logout</a></span></li>
						</ol>
					</div><!--.col-->
				</div><!--.row-->
			</div><!--.page-header-->
	
			<div class="display-animation">
				<div class="row">
					<div class="col-md-12">
						<div class="panel indigo">
							<div class="panel-heading">
								<div class="panel-title"><h4>ALL STUDENTS</h4>
									<input type="button" class="btn btn-red btn-ripple pull-right" value="REGISTER NEW STUDENT" data-target="#modalAddNewStudent" data-toggle="modal"/>
								</div>
							</div><!--.panel-heading-->
							<div class="panel-body">
								<div class="row" id="FILTERING">
									
								</div>
								<div class="row" id="ACTION">
									<div class="col-md-8">
										<select class="selectpicker" style="display: none;" id="SELECT_COURSETYPE">
											<option value=''>Choose Course</option>
											<option value="1">Pre-Course</option>
											<option value="2">Short-Course</option>
										</select>
										<select class="selectpicker" style="display: none;" id="SELECT_GENERATION">
											<option value=''>All Generations</option>
										</select>
										<select class="selectpicker" style="display: none;" id="SELECT_COURSE">
											<option value=''>All Courses</option>
										</select>
										<select class="selectpicker" style="display: none;" id="SELECT_SHIFT">
											<option value=''>All Shifts</option>
										</select>
										<!-- <select class="selectpicker" style="display: none;" id="SELECT_PAYMENT">
											<option value=''>All</option>
											<option value="1">Paid</option>
											<option value="2">Not Paid All</option>
										</select> -->
									</div>
									<div class="col-md-4">
										<div class="inputer col-md-8">
											<div class="input-wrapper">
												<input type="text" class="form-control" id="txtSearch" placeholder="Searching">
											</div>
										</div>
										<div class="col-md-4">
											<input type="button" class="btn btn-indigo btn-ripple pull-right" id="btnSearch" value="SEARCH"/>
										</div>
									</div>
								</div>
								<div class="flip-scroll">
									<table class="table table-bordered table-striped table-condensed cf">
										<thead class="cf">
											<tr>
												<th style="text-align:center;">No</th>
												<th>Student Name</th>
												<th>Phone</th>
												<th>Email</th>
												<th>Gender</th>
												<th>Course</th>
												<th>Shift</th>
												<th>Generation</th>
												<th>Price</th>
												<th>Paid</th>
												<th>Registered Date</th>
												<th>Status</th>
												<th>Action</th>
										  	</tr>
										</thead>
										<tbody id="STUDENT">
										
										</tbody>
									</table>
								</div><!--.flip-scroll-->
								<div class="row">
									<div class="col-md-6">
										<div id="INFORMATION">Showing 1 to <span id="limitPage">10</span> of <span id="totalRecords"></span> entries</div>
										<select class="selectpicker" style="display: none;" id="SELECT_PER_PAGE">
											<option value="15">Total Rows</option>
											<option value="15">15</option>
											<option value="30">30</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
									</div>
									<div class="col-md-6">
										<!-- BEGIN PAGINATION -->
										<div id="PAGINATION" class="pull-right">
										</div>
										<!-- END PAGINATION -->
									</div>
								</div>
								
							</div><!--.panel-body-->
						</div><!--.panel-->
					</div>
				</div><!--.row-->
	
			</div><!--.display-animation-->
	
		</div><!--.content-->
		
		<script id="STUDENT_TEMPLATE" type="text/x-jquery-tmpl">
			<tr data-id="{{= ID}}" data-stuid="{{= STUDENT.ID}}">
				<td>{{= NO}}</td>
				<td><strong>{{= STUDENT.NAME}}</strong></td>
				<td>{{= STUDENT.TELEPHONE}}</td>
				<td>{{= STUDENT.EMAIL}}</td>      
				<td>{{= STUDENT.GENDER}}</td>
				<td>{{= COURSE.NAME}}</td>
				<td>{{= SHIFT.NAME}}</td>
				<td>{{= COURSE.GENERATION.NAME}}</td>
				<td><span class="badge badge-success">$ {{= COST}}</span></td>
				<td><span class="badge badge-success">$ {{= PAID_AMOUNT}}</span></td>
				<td>{{= REGISTERED_DATE}}</td>
				<td style="text-align:center">
					{{if STATUS=='1'}}
						<span class="label label-success label-as-badge">ACTIVE</span>
					{{else STATUS=='2'}}
						<span class="label label-warning label-as-badge">INACTIVE</span>
					{{else STATUS=='3'}}
						<span class="label label-info label-as-badge">REGISTERED</span>
					{{else STATUS=='4'}}
					<span class="label label-info label-as-badge">NOT PAID ALL</span>
					{{else STATUS=='0'}}
						<span class="label label-danger label-as-badge">DELETED</span>
					{{/if}}
				</td>
				<td style="width:15%;">
					<a class="btn btn-sm btn-danger btn-ripple" id="btnDelete"><li><span class="glyphicon glyphicon-trash"></span></li></a>
					<a class="btn btn-sm btn-success btn-ripple" id="btnUpdate"><li><span class="glyphicon glyphicon-pencil"></span></li></a>
					<a class="btn btn-sm btn-light-blue btn-ripple" id="btnPayment"><li><span class="glyphicon glyphicon-usd"></span></li></a>
					<a class="btn btn-sm btn-warning btn-ripple" id="btnCertificate"><li><span class="glyphicon glyphicon-print"></span></li></a>
					<a class="btn btn-sm btn-ripple" id="btnExport"><li><span class="glyphicon glyphicon-export"></span></li></a>
				</td>
			</tr>
		</script>
		
		<!-- <input type="button" class="btn btn-primary btn-ripple" id="btnUpdate" value="UPDATE"/>
		<input type="button" class="btn btn-danger btn-ripple" id="btnDelete" value="DELETE"/>
		<input type="button" class="btn btn-success btn-ripple" id="btnPayment" value="PAYMENT"/> -->
		
		<script id="OPTION_TEMPLATE" type="text/x-jquery-tmpl">
			<option value="{{= ID}}" data-cost="{{= COST}}">{{= NAME}}</option>
		</script>
		
		<script id="PAYMENT_HISTORY_TEMPLATE" type="text/x-jquery-tmpl">
			<tr>
				<th style="text-align:center;">{{= NO}}</th>
				<th><span class="badge badge-success">$ {{= PAID_AMOUNT}}</span></th>
				<th>{{= PAID_DATE}}</th>
			</tr>
		</script>
		<!-- BEGIN ADD NEW COURSE MODAL -->
		<div class="modal fade full-height in" id="modalAddNewStudent" tabindex="-2" role="dialog" aria-hidden="true" style="display: none;">
			<div class="modal-dialog modal-lg" style="width:100%">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="TITLE">REGISTER NEW STUDENT</h4>
					</div>
					<div class="modal-body">
						<div class="panel-body">
							<form action="#" class="form-horizontal">
								<div class="form-content">
									<div class="form-group">
										<label class="control-label col-md-3">Student Name</label>
										<div class="col-md-9">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="" class="form-control" id="txtStudentName">
												</div>
											</div>
										</div>
									</div><!--.form-group-->
									
									<div class="form-group">
										<label class="control-label col-md-3">Telephone</label>
										<div class="col-md-9">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="" class="form-control" id="txtTelephone">
												</div>
											</div>
										</div>
									</div><!--.form-group-->
									
									<div class="form-group">
										<label class="control-label col-md-3">Email</label>
										<div class="col-md-9">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="email" name="" class="form-control" id="txtEmail">
												</div>
											</div>
										</div>
									</div><!--.form-group-->
									
									<div class="form-group">
										<label class="control-label col-md-3">Gender</label>
										<div class="col-md-9">
											<select class="selectpicker" style="display: none;" id="SELECT_GENDER">
												<option>Choose Gender</option>
												<option value="M">Male</option>
												<option value="F">Female</option>
											</select>
										</div>
									</div><!--.form-group-->
									
									<div class="form-group">
										<label class="control-label col-md-3">University</label>
										<div class="col-md-9">
											<select class="selectpicker" style="display: none;" id="SELECT_UNIVERSITY">
												<option>Choose Year</option>
												<option value="BBU">BBU</option>
												<option value="RUPP">RUPP</option>
												<option value="SETEC">SETEC</option>
												<option value="PUC">PUC</option>
												<option value="PPIU">PPIU</option>
												<option value="NU">NU</option>
												<option value="UBB">UBB</option>
												<option value="AEU">AEU</option>
												<option value="UME">UME</option>
												<option value="RAC">RAC</option>
												<option value="CARDI">CARDI</option>
												<option value="ITC">ITC</option>
												<option value="CSUK">CSUK</option>
												<option value="NIE">NIE</option>
												<option value="NTTI">NTTI</option>
												<option value="PNCA">PNCA</option>
												<option value="RUA">RUA</option>
												<option value="RUFA">RUFA</option>
												<option value="RULE">RULE</option>
												<option value="SRU">SRU</option>
												<option value="UHS">UHS</option>
												<option value="IIC">IIC</option>
												<option value="UC">UC</option>
												<option value="UP">UP</option>
												<option value="PPIT">PPIT</option>
												<option value="CamEd">CamEd</option>
												<option value="SPI">SPI</option>
												<option value="BELTEI">BELTEI</option>
												<option value="CMU">CMU</option>
												<option value="AUPP">AUPP</option>
												<option value="ZAMAN">ZAMAN</option>
												<option value="CUS">CUS</option>
												<option value="NUM">NUM</option>
												<option value="PCU">PCU</option>
												<option value="Other">Other</option>
											</select>
										</div>
									</div><!--.form-group-->
									
									<div class="form-group">
										<label class="control-label col-md-3">Year</label>
										<div class="col-md-9">
											<select class="selectpicker" style="display: none;" id="SELECT_YEAR">
												<option>Choose Year</option>
												<option value="1">1st Year</option>
												<option value="2">2nd Year</option>
												<option value="3">3rd Year</option>
												<option value="4">4th Year</option>
												<option value="5">Others</option>
											</select>
										</div>
									</div><!--.form-group-->
									
									<div class="form-group">
										<label class="control-label col-md-3">Address</label>
										<div class="col-md-9">
											<div class="inputer">
												<div class="input-wrapper">
													<textarea name="" class="form-control" id="textAreaAddress"></textarea>
												</div>
											</div>
										</div>
									</div>
	
									<div class="form-group">
										<label class="control-label col-md-3">Status</label>
										<div class="col-md-9">
											<div class="radioer">
												<input type="radio" name="radioStatus" id="radioColorActive" value="1" checked="checked">
												<label for="radioColor1a">Active</label>
											</div>
											<div class="radioer">
												<input type="radio" name="radioStatus" id="radioColorInactive" value="0">
												<label for="radioColor1b">Inactive</label>
											</div>
										</div>
									</div><!--.form-group-->
									<h4>Course Information</h4>
									<div class="row">
										<div class="col-md-2">
											<div class="form-group">
												<!-- <label class="control-label col-md-3">Type</label> -->
												<select class="selectpicker" style="display: none;" id="SELECT_REGISTER_COURSETYPE">
													<option>Choose Course Type</option>
													<option value="1">Pre Course</option>
													<option value="2">Short Course</option>
												</select>
											</div><!--.form-group-->
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<!-- <label class="control-label col-md-3">Generation</label> -->
												<select class="selectpicker" style="display: none;" id="SELECT_REGISTER_GENERATION">
													<option>Choose Generation</option>
												</select>
											</div><!--.form-group-->
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<!-- <label class="control-label col-md-3">Course</label> -->
												<select class="selectpicker" style="display: none;" id="SELECT_REGISTER_COURSE">
													<option>Choose Course</option>
												</select>
											</div><!--.form-group-->
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon">$</span>
													<div class="inputer">
														<div class="input-wrapper">
															<input type="number" class="form-control" placeholder="Cost Price" id="txtCostPrice" readonly>
														</div>
													</div>
												</div>
											</div><!--.form-group-->
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<!-- <label class="control-label col-md-3">Shift</label> -->
												<select class="selectpicker" style="display: none;" id="SELECT_REGISTER_SHIFT">
													<option>Choose Shifts</option>
												</select>
											</div><!--.form-group-->
										</div>
									</div>
									
									<div class="row">

										<div class="col-md-2">
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon">%</span>
													<div class="inputer">
														<div class="input-wrapper">
															<input type="number" class="form-control" placeholder="Discount" id="txtDiscount" value="0">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
										</div>
										
										<div class="col-md-2">
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon">$</span>
													<div class="inputer">
														<div class="input-wrapper">
															<input type="number" class="form-control" placeholder="Paid" id="txtPaid" value='0'>
														</div>
													</div>
												</div>
											</div><!--.form-group-->
										</div>
										
										<div class="col-md-6">
											<div class="form-group">
												<input type="button" class=" btn btn-indigo btn-ripple pull-right" value="Add Course" id="btnAddMoreCourse"/>
											</div><!--.form-group-->
										</div>
										
									</div>
									
									<div class="flip-scroll" style="height:600px;">
										<table class="table table-bordered table-striped table-condensed cf" id="TABLE_COURSE">
											<thead class="cf">
												<tr>
													<th style="text-align:center;">No</th>
													<th>Course</th>
													<th>Course Type</th>
													<th>Generation</th>
													<th>Shift</th>
													<th>Cost Price</th>
													<th>Discount</th>
													<th>Paid</th>
													<th>Paid Date</th>
													<th>Action</th>
											  	</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div><!--.flip-scroll-->
								</div><!--.form-content-->
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-red btn-default btn-ripple" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-indigo btn-ripple" id="btnSave">Save changes</button>
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div>
		<!-- END ADD NEW COURSE MODAL -->
		
		<!-- BEGIN PAYMENT HISTORY MODAL -->
		<div class="modal fade full-height in" id="modalPaymentHistories" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<input type="button" class="btn btn-red btn-ripple pull-right" value="REGISTER NEW PAYMENT" data-target="#modalAddNewPayment" data-toggle="modal" id="registerNewPayment"/>
					<div class="modal-header">
						<h4 class="modal-title">Student Payment Histories</h4>
						<!-- <input type="button" class="btn btn-red btn-ripple pull-right" value="REGISTER NEW PAYMENT" data-target="#modalAddNewPayment" data-toggle="modal"/> -->
					</div>
					<div class="modal-body">
						<div class="panel-body">
							<form action="#" class="form-horizontal">
								<div class="form-content">
									<div class="flip-scroll" style="height:600px;">
										<table class="table table-bordered table-striped table-condensed cf" id="TABLE_PAYMENT_HISTORY">
											<thead class="cf">
												<tr>
													<th style="text-align:center;">No</th>
													<th>Paid Amount</th>
													<th>Paid Date</th>
											  	</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div><!--.flip-scroll-->
								</div><!--.form-content-->
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-red btn-default btn-ripple" data-dismiss="modal" id="btnClosePaymentHistories">Close</button>
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div>
		<!-- END PAYMENT HISTORY MODAL -->
		
		<!-- BEGIN ADD NEW PAYMENT HISTORY MODAL -->
		<div class="modal fade in" id="modalAddNewPayment" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Register New Payment</h4>
					</div>
					<div class="modal-body">
						<div class="panel-body">
							<form action="#" class="form-horizontal">
								<div class="form-content">
									<div class="flip-scroll">
										<div class="form-group">
										<label class="control-label col-md-3">Payment Amount</label>
										<div class="col-md-9">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="number" name="" class="form-control" placeholder="Amount of money" id="txtPaymentAmount">
												</div>
											</div>
										</div>
									</div><!--.form-group-->
									</div><!--.flip-scroll-->
								</div><!--.form-content-->
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-red btn-default btn-ripple" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-indigo btn-ripple" id="btnSaveNewPayment">Pay</button>
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div>
		<!-- END ADD NEW PAYMENT HISTORY MODAL -->
	</div>
	<!-- END REGISTER NEW COURSE MODAL -->
	<th:block layout:fragment="backoffice/javascript">
		<script type="text/javascript" th:src="@{/static/javascripts/backoffice/course-type.js}"></script>
		<script type="text/javascript" th:src="@{/static/javascripts/backoffice/generation.js}"></script>
		<script type="text/javascript" th:src="@{/static/javascripts/backoffice/shift.js}"></script>
    	<script type="text/javascript" th:src="@{/static/javascripts/backoffice/student.js}"></script>
    </th:block>
</body>
</html>