<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!-- BEGIN CORE CSS -->
<link rel="stylesheet" th:href="@{/static/assets/admin1/css/admin1.css}">
<link rel="stylesheet" th:href="@{/static/assets/globals/css/elements.css}">
<!-- END CORE CSS -->

<!-- BEGIN PLUGINS CSS -->
<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/rickshaw/rickshaw.min.css}">
<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/bxslider/jquery.bxslider.css}">

<link rel="stylesheet" th:href="@{/static/assets/globals/css/plugins.css}">
<!-- END PLUGINS CSS -->

<!-- BEGIN SHORTCUT AND TOUCH ICONS -->
<link rel="shortcut icon" th:href="@{/static/assets/globals/img/icons/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/static/assets/globals/img/icons/apple-touch-icon.png}">
<!-- END SHORTCUT AND TOUCH ICONS -->
<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/pnikolov-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css}">
<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/minicolors/jquery.minicolors.css}">
<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css}">
<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/clockface/css/clockface.css}">
<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css}">
<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css}">

<script th:src="@{/static/assets/globals/plugins/modernizr/modernizr.min.js}"></script>