<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" 
	  class="no-js"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="backoffice/layout">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>GENERATION MANAGEMENT HRD COURSE MANAGEMENT SYSTEM</title>
	<style>
		td:first-child,
		th:first-child,
		th:nth-child(3),
		td:nth-child(3),
		th:nth-child(4),
		td:nth-child(4),
		th:nth-child(5),
		td:nth-child(5),
		th:nth-child(6),
		td:nth-child(6),
		th:nth-child(7),
		td:nth-child(7),
		th:nth-child(8),
		td:nth-child(8),
		th:nth-child(9),
		td:nth-child(9),
		th:nth-child(10),
		td:nth-child(10),
		th:nth-child(11),
		td:nth-child(11),
		th:last-child,
		td:last-child { text-align: center }
	
	</style>
</head>
<body>
	<div layout:fragment="backoffice/content">
		<div class="nav-bar-container">
	
			<!-- BEGIN ICONS -->
			<div class="nav-menu">
				<div class="hamburger">
					<span class="patty"></span>
					<span class="patty"></span>
					<span class="patty"></span>
					<span class="patty"></span>
					<span class="patty"></span>
					<span class="patty"></span>
				</div><!--.hamburger-->
			</div><!--.nav-menu-->
	
			<div class="nav-bar-border"></div><!--.nav-bar-border-->
	
			<!-- BEGIN OVERLAY HELPERS -->
			<div class="overlay">
				<div class="starting-point">
					<span></span>
				</div><!--.starting-point-->
				<div class="logo">HRD COURSE</div><!--.logo-->
			</div><!--.overlay-->
	
			<div class="overlay-secondary"></div><!--.overlay-secondary-->
			<!-- END OF OVERLAY HELPERS -->
	
		</div><!--.nav-bar-container-->
	
		<div class="content">
	
			<div class="page-header full-content">
				<div class="row">
					<div class="col-sm-6">
						<h1>GENERATIONS</h1>
					</div><!--.col-->
					<div class="col-sm-6">
						<ol class="breadcrumb">
							<li><a href="#" class="active"><i class="ion-home"></i> Homepage</a></li>
						</ol>
					</div><!--.col-->
				</div><!--.row-->
			</div><!--.page-header-->
	
			<div class="display-animation">
				<div class="row">
					<div class="col-md-12">
						<div class="panel indigo">
							<div class="panel-heading">
								<div class="panel-title"><h4>ALL GENERATIONS</h4>
									<input type="button" class="btn btn-red btn-ripple pull-right" id="btnRegister" value="REGISTER NEW GENERATION" data-target="#modalAddNewUser" data-toggle="modal"/>
								</div>
							</div><!--.panel-heading-->
							<div class="panel-body">
								<div class="row" id="FILTERING">
									
								</div>
								<div class="row" id="ACTION">
									<!-- <div class="col-md-8">
										<select class="selectpicker" style="display: none;" id="SELECT_COURSETYPE">
											<option value="">Choose Course</option>
											<option value="1">Pre-Course</option>
											<option value="2">Short-Course</option>
										</select>
									</div> -->
									<div class="col-md-4">
										<div class="inputer col-md-8">
											<div class="input-wrapper">
												<input type="text" class="form-control" id="txtSearch" placeholder="Searching">
											</div>
										</div>
										<div class="col-md-4">
											<input type="button" class="btn btn-indigo btn-ripple pull-right" id="btnSearch" value="SEARCH"/>
										</div>
									</div>
								</div>
								<div class="flip-scroll">
									<table class="table table-bordered table-striped table-condensed cf">
										<thead class="cf">
											<tr>
												<th style="text-align:center;">No</th>
												<th>Email</th>
												<th>Role</th>
												<th>Created Date</th>
												<th>Status</th>
												<th>Action</th>
										  	</tr>
										</thead>
										<tbody id="USER">
											<!-- <tr>
												<td>1</td>
												<td>1st Generation</td>
												<td>Short Course</td>
												<td>
													<input type="button" class="btn btn-success btn-ripple" value="VIEW / EDIT"/>
												</td>
											</tr> -->
										</tbody>
									</table>
								</div><!--.flip-scroll-->
 								<div class="row">
									<div class="col-md-6">
										<div id="INFORMATION">Showing 1 to <span id="limitPage">10</span> of <span id="TotalRecords"></span> entries</div>
										<select class="selectpicker" style="display: none;" id="SELECT_PER_PAGE">
											<option value="10">Total Rows</option>
											<option value="15">15</option>
											<option value="30">30</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
									</div>
									<div class="col-md-6">
										<div id="PAGINATION" class="pull-right">
										</div>
									</div>
								</div>
								
							</div><!--.panel-body-->
						</div><!--.panel-->
					</div>
				</div><!--.row-->
	
			</div><!--.display-animation-->
	
		</div><!--.content-->
		
		<script id="USER_TEMPLATE" type="text/x-jquery-tmpl">
			<tr data-id="{{= ID}}">
				<td>{{= NO}}</td>
				<td><strong>{{= EMAIL}}</strong></td>
				<td><span class="label label-primary label-as-badge">{{= ROLE}}</span></td>
				<td>{{= CREATED_DATE}}</td>
				<td>
					{{if STATUS=='1'}}
						<span class="label label-success label-as-badge">ACTIVE</span>
					{{else}}
						<span class="label label-danger label-as-badge">INACTIVE</span>
					{{/if}}
				</td>
				<td>
					<input type="button" class="btn btn-success btn-ripple" id="btnEdit" value="Edit"/>
					<input type="button" class="btn btn-danger btn-ripple" id="btnDelete" value="Delete"/>
					<input type="button" class="btn btn-primary btn-ripple" id="btnChangePassword" value="Change Password"/>
				</td>
			</tr>
		</script>
		
		<script id="OPTION_TEMPLATE" type="text/x-jquery-tmpl">
			<option value="{{= ID}}">{{= NAME}}</option>
		</script>
		
		<!-- BEGIN ADD NEW GENERATION MODAL -->
		<div class="modal fade full-height in" id="modalAddNewUser" tabindex="-2" role="dialog" aria-hidden="true" style="display: none;">
			<div class="modal-dialog modal-lg" style="width:100%">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">REGISTER NEW GENERATION</h4>
					</div>
					<div class="modal-body">
						<div class="panel-body">
							<form action="#" class="form-horizontal">
								<div class="form-content">
									<div class="form-group">
										<label class="control-label col-md-3">Email:</label>
										<div class="col-md-9">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="" class="form-control" id="txtEmail">
												</div>
											</div>
										</div>
									</div><!--.form-group-->
									
									<div class="form-group" id="password">
										<label class="control-label col-md-3">Password:</label>
										<div class="col-md-9">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="" class="form-control" id="txtPassword">
												</div>
											</div>
										</div>
									</div><!--.form-group-->
									<div class="form-group" id="cPassword">
										<label class="control-label col-md-3">Confirm-Password:</label>
										<div class="col-md-9">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="" class="form-control" id="txtConfirmPassword">
												</div>
											</div>
										</div>
									</div><!--.form-group-->
									<div class="form-group" id="cPassword">
										<label class="control-label col-md-3">Role:</label>
										<div class="col-md-9">
											<select class="selectpicker" style="display: none;" id="selectRole">
												<option value="DEFAULT">SELECT ROLE</option>
												<option value="ADMIN">ADMINISTRATOR</option>
											</select>
										</div>
									</div><!--.form-group-->
									<div class="form-group" id="status">
										<label class="control-label col-md-3">Status:</label>
										<div class="col-md-9">
											<div class="radioer">
												<input type="radio" name="radioStatus" id="radioColorActive" value="1" checked="checked">
												<label for="radioColor1a">Active</label>
											</div>
											<div class="radioer">
												<input type="radio" name="radioStatus" id="radioColorInactive" value="0">
												<label for="radioColor1b">Inactive</label>
											</div>
										</div>
									</div><!--.form-group-->
								</div><!--.form-content-->
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-red btn-default btn-ripple" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-indigo btn-ripple" id="btnSave">Save changes</button>
						<button type="button" class="btn btn-indigo btn-ripple" id="btnSaveUpdate">Save changes</button>
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div>
		<!-- END ADD NEW GENERATION MODAL -->
			
		<!-- BEGIN ALERT MODAL -->
		<div class="modal fade in" id="modalChangePassword" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="TITLE">CHANGE PASSWORD</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="control-label col-md-3">Old Password:</label>
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="password" name="" class="form-control"
											id="txtOldPassword">
									</div>
								</div>
							</div>
						</div>
						<!--.form-group-->
						<div class="form-group">
							<label class="control-label col-md-3">New Password:</label>
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="password" name="" class="form-control"
											id="txtNewPassword">
									</div>
								</div>
							</div>
						</div>
						<!--.form-group-->
						<div class="form-group" id="password">
							<label class="control-label col-md-3">Confirm-Password:</label>
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="password" name="" class="form-control"
											id="txtConfirm-Password">
									</div>
								</div>
							</div>
						</div>
						<!--.form-group-->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-red btn-default btn-ripple" data-dismiss="modal">NO</button>
						<button type="button" class="btn btn-indigo btn-ripple" id="btnChange">OK</button>
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div>
		<!-- END ALERT MODAL -->
		
		<!-- BEGIN ALERT MODAL -->
		<div class="modal fade in" id="modalAlert" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="TITLE">WRONG PASSWORD</h4>
					</div>
					<div class="modal-body">
						<h6 id="MESSAGE"><strong>INCORRECT PASSWORD</strong></h6>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-red btn-default btn-ripple" data-dismiss="modal">OK</button>
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div>
		<!-- END ALERT MODAL -->
		
		<!-- BEGIN ALERT MODAL -->
		<div class="modal fade in" id="modalMessage" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="TITLE">MESSAGE</h4>
					</div>
					<div class="modal-body">
						<h6 id="MESSAGE"><strong>ARE YOU SURE TO DELETE THIS RECORD?</strong></h6>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-red btn-default btn-ripple" data-dismiss="modal">NO</button>
						<button type="button" class="btn btn-indigo btn-ripple" id="btnOk">OK</button>
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div>
		<!-- END ALERT MODAL -->
		
	</div>
	<!-- END REGISTER NEW COURSE MODAL -->
	<th:block layout:fragment="backoffice/javascript">
		<script type="text/javascript" th:src="@{/static/javascripts/backoffice/user.js}"></script>
    	<script type="text/javascript" th:src="@{/static/javascripts/backoffice/user-page.js}"></script>
    </th:block>
</body>
</html>
