<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" 
	  class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>HRD COURSE MANAGEMENT SYSTEM</title>

	<meta name="description" content="HRD COURSE MANAGEMENT SYSTEM">
	<meta name="author" content="HRD COURSE MANAGEMENT SYSTEM">

	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-touch-fullscreen" content="yes">

	<!-- BEGIN CORE CSS -->
	<link rel="stylesheet" th:href="@{/static/assets/admin1/css/admin1.css}">
	<link rel="stylesheet" th:href="@{/static/assets/globals/css/elements.css}">
	<!-- END CORE CSS -->

	<!-- BEGIN PLUGINS CSS -->
	<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/rickshaw/rickshaw.min.css}">
	<link rel="stylesheet" th:href="@{/static/assets/globals/plugins/bxslider/jquery.bxslider.css}">

	<link rel="stylesheet" th:href="@{/static/assets/globals/css/plugins.css}">
	<!-- END PLUGINS CSS -->

	<!-- BEGIN SHORTCUT AND TOUCH ICONS -->
	<link rel="shortcut icon" th:href="@{/static/assets/globals/img/icons/favicon.ico}">
	<link rel="apple-touch-icon" th:href="@{/static/assets/globals/img/icons/apple-touch-icon.png}">
	<!-- END SHORTCUT AND TOUCH ICONS -->

	<script th:src="@{/static/assets/globals/plugins/modernizr/modernizr.min.js}"></script>
	<style>
		td:first-child,
		th:first-child,
		th:nth-child(4),
		td:nth-child(4),
		th:nth-child(5),
		td:nth-child(5),
		th:last-child,
		td:last-child { text-align: center }
	
	</style>
</head>
<body>
	<h1><center>ERROR 404</center></h1>
</body>
</html>